.LoginContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background-color: #152850;
}
.CardContainer {
  width: 60%;
  background-color: #e0eefe;
  display: flex;
  align-items: center;
  border-radius: 30px;
}
.loginImage {
  width: 50%;
}
.form_Container {
  background-color: #ffffff;
  width: 50%;
  height: 560px;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.form_Container_Heading {
  align-self: flex-start;
  font-family: 'Roboto';
  margin-bottom: 8px;
}
.label {
  align-self: flex-start;
  font-family: 'Roboto';
  font-weight: 600;
  color: #5a7184;
  margin-top: 10px;
  margin-bottom: 4px;
}
.inputField {
  width: 100%;
  height: 52px;
  border-style: solid;
  margin: 10px;
  border-radius: 6px;
  font-family: 'Roboto';
  padding-left: 10px;
  font-size: 17px;
}
.submitBtn {
  width: 100%;
  height: 45px;
  background-color: #1565d8;
  color: #ffffff;
  margin-top: 20px;
  border: none;
  font-size: 21px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}
.errorMsg {
  color: #ff0b37;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Roboto';
  margin: 8px;
}
